{{ define "clusters summary" }}
<body>
  <turbo-frame id="clusters_summary">
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          Total
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          {{ .TotalClusters }}
        </dd>
      </div>
    </div>
  <turbo-frame>
</body>
{{ end }}
